<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    body{
        margin: 0;
        font-family: 'Times New Roman', Times, serif;
    }
    .topnav{
        overflow:hidden;
        background-color: black;
    }
    .topnav a{
        float: left;
        display: block;
        color:cornsilk ;
        text-align: left;
        padding: 12x 14x;
        text-decoration: none;
        font-size: 14;
    }
    .topnav a:hover{  
        background-color:red ;
        color:black;
    }
    /* .topnav a.active{
        
    } */
</style>
        <title>Supplymedia</title> 
        <meta charset=" utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    </head>

<body> 
    <h4>Upload new available supply item</h4>
    <p>Select Item Located in Store </p>
    <p>If unspecified item used textbox to input item name </p>
    <form method=POST enctype='multipart/form-data'>
        <label>Choose store item:</label>
        <select type="storeItem" name="storeItem" id="storeItem"> 
            <option value="--------">--------</option>
            <option value="Hand Sanitizer">Hand Sanitizer</option>   
            <option value="Face Mask">Face Mask</option> 
            <option value="Hand Soap">Hand Soap</option>   
            <option value="Toilet Paper">Toilet Paper</option>  
            <option value="Paper Towels">Paper Towels</option>
            <option value="Thermometer">Thermometer</option>
            <option value="Spray Disinfectant">Spray Disinfectant</option>
            <option value="Sanitizing Wipe">Sanitizing Wipes</option>
            <option value="Medication">Medication</option>
            <option value="Infant Food">Infant Food</option>
            <option value="Other">Other</option><br>

            <label for="cmnt">Other Item:</Other>
                <input type="text" id="item" name="cmnt">
        </select>
        

        <p>Select Availability</p>
            <input type="radio" name="radio" id="Available"  name="radio" value="Available">
            <label for="Available">Available</label><br>
            <input type="radio" name="radio" id="Low Supply"  name="radio" value="Low Supply">
            <label for="Low Supply">Low Supply</label><br>
            <input type="radio" name="radio" id="Out of Stock"  name="radio" value="Out of Stock">
            <label for="Out of Stock">Out of Stock</label><br>
            <br>
    

        <p>Click on the "Choose File" button to upload picture of supplies </p>
        
        <!-- UPLOAD PHOTO-->
        <input type='file' name='photo'>
        <input type='submit' value='Submit'>
    
    </form>

</body>
    
</html>